<app-navbar></app-navbar>


 <!-- <ul class="list-group" *ngFor="let data  of json">
  <li class="list-group-item">Difficulty : {{data.difficulty}}</li>
  <li class="list-group-item">Mined currency amount : {{data.mined_currency_amount}}</li>
  <li class="list-group-item">Number of tx: {{data.number_of_transactions}}</li>
</ul> -->

<div class="featured-properties">
  <div class="properties" *ngFor="let data  of json">
      <div class="property">
          <img src="http://placehold.it/200x150" alt="Sample Property" />
          <p>Difficulty</p>
          <p>{{data.difficulty}}</p>
      </div>

      <div class="property">
          <img src="http://placehold.it/200x150" alt="Sample Property" />
          <p>Mined currency amount</p>
          <p>{{data.mined_currency_amount}}</p>
      </div>

      <div class="property">
          <img src="http://placehold.it/200x150" alt="Sample Property" />
          <p>Number of tx</p>
          <p>{{data.number_of_transactions}}</p>
      </div>
  </div><!-- end .properties -->
</div><!-- end .featured-properties -->

