<app-navbar></app-navbar>




<div class="container" *ngFor="let data  of json">
    <div class="row align-items-center">
        <div class="col ">
            <img src="../../assets/chart-area-solid.svg" >
            <p class="title"> Network Difficulty</p>
            <p class="data">{{data.difficulty}} h/s</p>
        </div>
        <div class="col ">
            <img src="../../assets/hammer-solid.svg"  >
            <p class="title"> Mined Amount</p>
            <p class="data">{{data.mined_currency_amount}}</p>
        </div>
        <div class="col">
            <img src="../../assets/paper-plane-solid.svg" >
            <p class="title"> Number of Transactions</p>
            <p class="data">{{data.number_of_transactions}} tx</p>

        </div>
    </div>
</div>

 