<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Mchain</a>
  <button  class="navbar-toggler" type="button"  (click)="navbarCollapsed = !navbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="onMainClick()">Explorer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onStatsClick()">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onChangeDataClick()">Modify Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onUpdateBlocks()" title="Click to update the blockchain data">Update the Blockchain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="signOut()">SignOut</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="onProfileClick()">Profile</a>
        </li>
    </ul>
  </div>
</nav>