.hHover:hover{
    color:rgba(85, 87, 84, 0.582);
    cursor: pointer;
    
}

  .deleteButton{
    visibility: hidden;
  }
tr:hover .deleteButton{
   visibility: visible;
}




.input-group{
    padding-top:0.7vw;
}

.insertBtn{
  margin-top:0.7vw;
}


  .sliding-background {
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88.3vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../../assets/bitcoin16.png")
    
  }  

  .tableIn{
    color:rgba(0, 0, 0, 0.664);
   
}


th{
    font-weight: bolder;
    color: rgb(18, 130, 158);
    
}




 


  
  
