<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
        </div>
        <input [(ngModel)]="sizeInput" type="text" class="form-control" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" placeholder="Input Hash or Size">
    </div>

    <div class="table-responsive sliding-background ">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Hash</th>
                    <th scope="col">Size</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody *ngFor="let data  of json | sizeFilter : sizeInput">
                <tr class="hHover">
                    <td (click)="onUpdateClick(data.hash , data.size, data.time)" title="Click to update the data">
                        {{data.hash}}</td>
                    <td>{{data.size}}</td>
                    <td>{{data.time}}</td>
                    <td>
                    <td>
                        <!-- Button trigger modal -->
                        <button (click)="open(content)" class="btn btn-danger deleteButton" data-toggle="modal"
                            data-target="#exampleModal">
                            Delete
                        </button>

                    </td>

                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Confirm block deletion</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >
                            <form>
                                <div class="form-group">
                                    <label for="dateOfBirth">Are you sure that you want to delete the selected block?</label>
                                    <div class="input-group">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                (click)="onDeleteClick(data.hash)">Delete</button>
                        </div>
                    </ng-template>
                </tr>

            </tbody>
        </table>
    </div>
</div>



<!-- (click)="onDeleteClick(data.hash)" -->