.hHover:hover{
    color:rgba(85, 87, 84, 0.582);
    cursor: pointer;
}

.input-group{
    padding-top:0.7vw;
}



  .sliding-background {
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88.3vh;
    width: 100%;
    /* background-image: url("../../assets/logoOpacity.png"); */
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../../assets/bitcoin16.png")
    
  }  

  .tableIn{
    color:rgba(0, 0, 0, 0.664);
   
}


th{
    font-weight: bolder;
    color: rgb(18, 130, 158);
    
}
 
/* 
   .sliding-background{
    display: block;
    position: relative;
    height: 88.3vh;
    width: 100%;
  }

  .sliding-background:after{
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88.3vh;
    width: 100%;
    background-image: url("../../assets/bitcoin16.png");
    opacity: 0.5;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    content:  ""
  }  */

  
  
