
<app-navbar></app-navbar>

<div class="container">
  <p class="name">
    Welcome {{displayName}}
  </p>
  <img *ngIf="profilePic != null" src="{{profilePic}}" class="center size img-thumbnail">
  <hr>
  <p>Upload a profile picture</p>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Photo Url</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" #picUrl required>
  </div>
  <!-- <div *ngIf="pictureChanged" class="alert alert-success" role="alert">
    Picture Changed.
  </div> -->
  <div *ngIf="invalidExt" class="alert alert-danger" role="alert">
    Invalid extension, it must be jpg/jpeg/png.
  </div>
  <button class="btn btn-primary" (click)="onUpdatePic(picUrl.value)">Upload</button>

  <hr>

  <p>Change nickname</p>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Nickname</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" #nick required>
  </div>
  <div *ngIf="nickChanged" class="alert alert-success" role="alert">
    Nick Changed.
  </div>
  <div *ngIf="nickCondition" class="alert alert-danger" role="alert">
      The nick cannot be blank.
    </div>
  <button class="btn btn-primary" (click)="onUpdateNick(nick.value)">Change nickname</button>

  <hr>

  <p>Reset password</p>
  <button class="btn btn-primary" (click)="resetPwd()">Reset password</button>
  <div *ngIf="emailSent" class="alert alert-success" role="alert">
    An email to reset your password has been sent.
  </div>
</div>