
.center {
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.name{
    text-align:center;
    margin-top: 0.3vw;
    font-size:2.3vw;
}

.size{
    max-width:250px;
    max-height:250px;
}

button{
    text-align:center;
}